/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

a { color: #65c7cb;
	position: relative;
	float: none;
	margin:auto;
	}
a:visited { color: #65c7cb; }
a:hover { color:#000000; }
a:focus { outline: thin dotted; }
hr { 	display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0; }
audio,
canvas,
iframe,
svg,
video { vertical-align: middle; }
fieldset {	border: 0;
			margin: 0;
			padding: 0; }
textarea { resize: vertical; }
.browserupgrade {	margin: 0.2em 0;
					background: #ccc;
					color: #000;
					padding: 0.2em 0; }







.header-container {
	
	border-bottom: 5px solid black;
}

html {	color: #222;
		font-size: 1em;
		line-height: 1.4; }
::-moz-selection { 	background: #b3d4fc;
    				text-shadow: none; }
::selection {	background: #b3d4fc;
    			text-shadow: none; }


.header-container,
.footer-container {	-webkit-box-shadow: 0 5px 10px #aaa;
				       -moz-box-shadow: 0 5px 10px #aaa;
						    box-shadow: 15 15px 20px #ff3030;
							background: darkred;
							clear:both;}

.footer-container{		border-top: 5px solid black;		
					margin-top: 5%;
					color: white;
    				float: none;
					position: absolute;
					width: 100%; }


.title {	text-shadow: -2px 5px #000000;
			color: white;
			text-align: center;
			margin-left: 4%;
			font-size: 1.8em; }



nav ul {	margin: 0;
			padding: 0;
			list-style-type: none; }

nav a {	display: block;
		margin-bottom: 10px;
		padding: 0 0;

		text-align: center;
		text-decoration: none;
		font-weight:bolder;


		color: #ffffff;
		background: rgba(93, 7, 7, 0.66);
		text-shadow: -2px 5px #000000 }


nav a:visited {	color: white;
				text-shadow: -2px 5px #ffffff;
				font-weight:bolder; }

nav a:hover {	
	            text-shadow: 0px 0px #000000;
				color: black;
				font-weight:bolder; }








.main article h1 {	font-size: 2em;
					text-align: center;
					float:none;
					margin: auto;
					
					margin-top: 5%;
					color: darkred;
					
}

.main article h3 {	font-size: 2em;
					text-align: center;
					float:none;
					margin: auto;
					
					margin-top: 5%;
					color: #670505;
					font-weight: bold; }
.main article p {	color: wheat;
					text-align: center; 
					font-size: 1em;
					background-color: darkred;
					clear:both;}



.directory h1 {
				color: #670505;
				text-align: center;	}



.left_txt {float:none;
	color: wheat;
	text-align: center;
	margin-bottom: 5%;
	background-color: darkred;
		border-top: 5px solid black;
	border-bottom: 5px solid black;
			}

.sign_up {
	text-align: center;
	clear:both;
	font-weight: bolder;
	font-size: .77em;
	}

.upcoming {
	color: wheat;
	clear: both;
	float: none;
	text-align: center;
	background-color:darkred;
	
	font: 20px/34px Georgia, Georgia, Georgia;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	margin-bottom: 5%;
}

.staff {
	color: wheat;
	clear: both;
	float: none;
	text-align: center;
	background-color:darkred;
	
	font: 20px/34px Georgia, Georgia, Georgia;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	margin-bottom: 5%;
}

.head h1 {text-align: center;
			color: darkred;
			}

.pastors_pics img {	
					margin:auto;
					margin-left: 1%;
					margin-bottom: 1%;
					width: 50%;
					float: left;
					clear: both;
					position: relative;	}






.footer-container p {	font: 20px/24px Georgia, Georgia, Georgia;
						text-align: left;
						float: left;
						color: wheat; }
.directory_img {
				width: 30%;
				float:none;
				margin: auto;}
	.directory_img img {width: 100%;}


.honey_bear {width: 20%;
				float: none;
				margin: auto;
	}
.meals img {width: 100%;}

.meals {width: 50%;
				float: left;
				margin-left: 8%;
	}
.dad_meals img {width: 100%;}

.dad_meals {width: 30%;
				float: right;
				margin-right: 5%;
	}
.meals_txt p {max-width: 70%;
			float: right;
			margin-bottom: 5%;
			text-align: right;
			font-weight:bolder;
			
			font: 20px/28px Georgia, Georgia, Georgia;}


.honey_bear img {width: 100%;}


.honey_txt p {max-width: 800%;
			float: left;
			margin:auto;
			text-align: center;
			font-weight:bolder;
			
			font: 20px/28px Georgia, Georgia, Georgia;}
.honey_txt h1 {
	max-width: 50%;
	float: left;
	margin:auto;
	text-align: center;
	font: 30px/40px Georgia, Georgia, Georgia;
	background-color: darkgoldenrod;}



.ie7 .title {
    padding-top: 20px;
} /* ALL: IE Fixes */



/* !!!!!EVERYTHING AFTER THIS LINE IS ONLY FOR PC BROWSERS WITH AT LEAST 480 PIXEL WIDTH!!!! */
@media only screen and (min-width: 480px) {
	
	
	
	
	.pastors_pics img {	
					margin-top: 1%;
					margin-right: 1%;
					width: 22%;
					float: right;
					clear: right;
					position: relative; }

	
	

	body {	background-position: 90%;}

	
	
    nav a {	float: left;
			width: 27%;
			margin: 0 1.7%;
			padding: 25px 2%;
			margin-bottom: 0; }

    nav li:first-child a { margin-left: 0; }

    nav li:last-child a { margin-right: 0; }



    nav ul li {
        display: inline;
    }	/* INTERMEDIATE: IE FIXES */
    .oldie nav a {
        margin: 0 0;
    }	/* INTERMEDIATE: IE FIXES */
}	/* MIN-WIDTH 480px FIXES */
@media only screen and (min-width: 768px) {

.header-container {	-webkit-box-shadow: 0 5px 10px #aaa;
					   -moz-box-shadow: 0 5px 10px #aaa;
							box-shadow: 15 15px 25px #aaa; }

.title { float: left; }

nav {	float: right;
        width: 50%; }

}	/* MIN-WIDTH 768px FIXES */
@media only screen and (min-width: 1140px) {}		 /* MIN-WIDTH 1140px FIX  */

/* ==============
   Helper classes
   ============== */

.hidden {	display: none !important;
    		visibility: hidden; }

.visuallyhidden {	border: 0;
					clip: rect(0 0 0 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {	clip: auto;
									height: auto;
									margin: 0;
									overflow: visible;
									position: static;
									width: auto; }

.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after {	content: " ";
    				display: table; }

.clearfix:after {	clear: both; }

.clearfix { *zoom: 1; }



@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}		/* PRINT STYLES */