{% extends "master.html" %}
{% block content %}


			<div class="main-container">
			<div class="main wrapper clearfix">
				<article>
					<header></header>
					<p><strong>Often we Disciples tend to describe ourselves in the negative, by what we are 
						not: we’re not hierarchical, we don’t baptize infants, we don’t require acceptance of
						any formal creed for membership in the church. The following material is an effort, 
						in positive statements, to focus on who we are and on ways to convey that to those
						inside and outside our church.</strong>
					
					
						<h1>We are Disciples of Christ,
							a movement for wholeness 
							in a fragmented world.
							As part of the one body of  
							Christ, we welcome all to 
							the Lord's Table as God has 
							welcomed us.
						</h1>
					
						<h3>- Disciples Of Christ Identity Statement</h3>
					<p><strong>We practice unity and inclusion at the Lord’s Table for the sake of mission and for the sake of the world as the one family of God. Most congregations do this by celebrating communion every Sunday. That’s why we use a chalice as our logo. We practice believer baptism – that a person makes the choice to follow God’s call rather than the choice being made for them as an infant. Baptism is the basis of membership in the Church and also a mark that every person is called to serve God – the idea of the “priesthood of all believers.”<br><br></strong>
							</p>
				</article>

{% endblock %}
