{% extends "master.html" %}
{% block content %}
			<div class="calendar">
				<iframe src="https://calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23999999&amp;src=fccoffice.pastors%40phfcc.org&amp;color=%231B887A&amp;src=en.christian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%2329527A&amp;src=nfl_12_Kansas%2BCity%2BChiefs%23sports%40group.v.calendar.google.com&amp;color=%23AB8B00&amp;src=mlb_7_Kansas%2BCity%2BRoyals%23sports%40group.v.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="400" height="600" frameborder="0" scrolling="no"></iframe>
			</div> <!-- #main -->
{% endblock %}