{% extends "master_alt.html" %}
{% block content %}

<strong>Sunday {{ date.month }} {{ date.date }}, {{ date.year }}<br></strong>

<br><br><br>
	<form action="{{ url_for('phfcc') }}" method="GET">
<button style="float: right; margin-right: 40%;" type="submit" value="Commit Changes"><p>Commit Changes</p></button>
</form>
<form action="{{ url_for('about_time') }}" method="GET">
	<button style="float: left; margin-left: 40%;"type="submit" value="Commit Changes"><p>Start Over</p></button>
</form><br><br>


{% endblock %}