<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]--><!--[if gt IE 8]><!--> 
<html class="no-js" lang=""> <!--<![endif]-->
    <head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="Main Page For PHFCC DOC">
<meta name="author" content="E.T. Deubner">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/android-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff"><!--META DATA-->
		<title>PHFCC | Home</title>
			<!--<link rel="stylesheet" href="css/normalize.min.css">-->
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
		<style>
			body {
				font: 20px/36px Georgia, Georgia, Georgia;
				background-image: url({{ url_for('static', filename='img/DOC_CHALISE.png') }});
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-color:darkgray;
			}
		</style>

		<link rel="manifest" href="{{ url_for('static', filename='js/Android/manifest.json') }}"><!--ALL ICONS-->
		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
   	</head>
    
		<body><!--[if lt IE 8]>
				<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->
			<div class="header-container">
				<header class="wrapper clearfix">
					<h1 class="title">Pleasant Hill First Christian Church</h1>
						<nav>
							<ul>
								<li><a href="/about">About</a></li>
								<li><a href="https://www.facebook.com/pg/phfccdisciples/photos/?ref=page_internal" target="_blank">Pictures</a></li>
								<li><a href="/calendar">Calendar</a></li>
							</ul>
						</nav>
				</header>
			</div>

			<div class="main-container">
				<div class="main wrapper clearfix">
					<article>
						
						<header>
							<h3>First Christian Church (Disciples Of Christ)</h3>
						</header>
						
							<p>
								<strong>
									We are a small congregation with a big heart and a great group of loving Disciples.<br>
									We are located in the heart of Pleasant Hill, MO on <a href="https://goo.gl/maps/ALTJmpggmrr" target="_blank">519 Cedar Street</a>.<br>
									Our weekly Sunday morning service is lead by Pastors D. Kent Deubner &amp;  Carla F. Deubner.
								</strong>
							</p>
					</article>
					
					<div class="directory">
						<section>
							<h1>Sunday February 04, 2018</h1>
							<p class="left_txt">
							<strong>
								3rd Sunday In Lent Cycle B
							</strong><br>
								<br>
							
								<a href="https://www.homileticsonline.com/subscriber/btl_scripture_results.asp?bible_book=Exodus">Exodus 20:1-17;</a>
								<a href="https://www.homileticsonline.com/subscriber/btl_scripture_results.asp?bible_book=Psalm"> Psalm 19;</a>
								<a href="https://www.homileticsonline.com/subscriber/btl_scripture_results.asp?bible_book=1 Corinthians"> 1 Corinthians 1:18-25;</a>
								<a href="https://www.homileticsonline.com/subscriber/btl_scripture_results.asp?bible_book=John"> John 2:13-22</a><br>
								<strong>"#JesusDiedAnd.."</strong><br>
							
							<strong>Sermon : "Jesus' Out Of Business Declaration" John 2: 13-22 (NRSV)</strong><br>
							<strong>Adult Bible Class Lesson : “Growing In Faith - Remember Jesus' Words” &nbsp;&nbsp;&nbsp;John 2: 13-22</strong><br>
								
							</p>
						</section>
					</div>
					
					<div class="head">
						<header>
							<h1>Those Serving Our Congregation</h1>
						</header>
					</div>
					
					
					<div class="upcoming">
						<p>
							<strong>Ministers :</strong> All Of Us.<br>
							<strong>Elders </strong> | Alice Ballard (o) Ron Ballard (c) |<br>
							<strong>Elders  </strong> | Patti Alexander (o) Kyle Roach (c) |<br>
							<strong>Communion Shut-In Ministry For January 2018 | </strong> Lonnie &amp; Sherrie Silber |<br>
							<strong>Deacons</strong>  | Jill Groll, Karie Gideon, Matt Kyle, Dottie Miller |<br><strong>At The Door</strong> : Shirley Tippie | <strong>In The Narthex</strong> : Matt Kyle | <strong>Communion Prep/Clean-Up</strong> : Sandra Guffey |<br><br>
						</p>
					</div>
					
					<div class="staff">
						<p>
							<strong>Sandi Beatty, Board Chair<br>
									Donna McCullough, Elders Chair<br>
									Sherrie Dale, Deacons Chair<br>
									Shannon Caughron, Deacons Communion<br>
									Ron Beatty &amp; Jodi Wasson, Custodians<br><br>
									Pastor's Phone<br>
								| 816.987.0024 Home | 816.456.5437 Kent | 
								816.258.2031 Carla |<br>
								| Website Questions, Comments, Concerns?  Contact Evan Deubner at 816.288.2093 or withinmyself@gmail.com |
							<br><br>
								Web Presence<br>
								https://www.phfcc.org - Official Website<br>
								pastorkent57@gmail.com - Kent Deubner, Pastor<br>
								cdeubner72@gmail.com - Carla Deubner, Pastor<br>
								phfccdisciples@outlook.com - Office Mail<br>
								fccoffice.pastors@phfcc.org - Office Calendar<br>
								816.542.0323 - Google Voice (Prayer Concern)<br>
								816.540.3533 - Office<br>
							</strong>
						</p>
					</div>
			</div> <!-- #main -->
				</div> <!-- #main-container -->
			
			
			<div class="directory_img"><img src="{{ url_for('static', filename='img/ch_sign.png') }}"></div>
			<div class="honey_bear"><img src="{{ url_for('static', filename='img/honey_bear.png') }}"></div>
			<div class="honey_txt"><p><strong>Virginia Meeks' daughter and husband, Pastor Steve &amp; Terri House are selling some very good Honey from their own hives. They use the proceeds to support the Food Pantry and other needs in the Holden, MO Area.</strong></p>
			<h1>Steve &amp; Terry <br> Holden, MO<br>
				Pure Honey <br>
				636-284-5353</h1></div>
			

			<div class="footer-container">
				<footer class="wrapper">
					<P>First Christian Church<br> (Disciples Of Christ)<br>
						P.O. Box&nbsp;272 (Mailing &amp; Shipping)<br>
						<a href="https://goo.gl/maps/ALTJmpggmrr" target="_blank">519 Cedar Street (Physical Address)</a><br>
						Pleasant Hill, MO &nbsp; 64080<br><br>
						Pastor D. Kent Deubner &nbsp;<br><a href="tel:1-816-456-5437">(816) 456-5437</a><br>
						Church Office &nbsp;<br><a href="tel:1-816-540-3533">(816) 540-3533</a><br>
						Social Media<br>
						<a href="https://www.facebook.com/phfccdisciples/" target="_blank">Facebook</a>&nbsp; 
						<a href="https://twitter.com/YaYa4J" target="_blank">Twitter</a><br>
						</P>
					<div class="pastors_pics"><img src="{{ url_for('static', filename='img/kencarla_new.png') }}"></div>
				</footer>
			</div>

			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script><!--- JAVA SCRIPTS --->
		</body>
</html>
