{% extends "master.html" %}
{% block content %}
 
<div class="main-container">
	<div class="main wrapper clearfix">
		<article>
			<header><h3>First Christian Church (Disciples Of Christ)</h3>
						</header>
				 <p><strong>We are a small congregation with a big heart and a great group of loving Disciples.<br>
							We are located in the heart of Pleasant Hill, MO on <a href="https://goo.gl/maps/ALTJmpggmrr" target="_blank">519 Cedar Street</a>.<br>
							Our weekly Sunday morning service is lead by Pastors D. Kent Deubner &amp;  Carla F. Deubner.
							</strong><br><br>
							If you are interest in being a part of an Afternoon Crochet Class, we are Re-Starting Classes Wednesday at 2:00pm.<br>
							Alice Ballard is Leading, and her son <a href="https://www.facebook.com/ronald.ballard.3572?fref=gs&dti=123712571019123&hc_location=group" target="_blank">Ronald Ballard</a> can help you get more information. <br>
							Beginners, or Seasoned Pro's, all are welcome. Call 816.540.2294 for more info.
							<br>
							</p>
								
<div class="meals"><img src="{{ url_for('static', filename='img/meals.png') }}"></div>
<div class="dad_meals"><img src="{{ url_for('static', filename='img/dad_meals.png') }}"></div>
<div class="meals_txt">
	 <p><strong>Meals on Wheels is working with our talented and hard working folks to get everything working. This is my friend, Ruth Franklin, who is in charge of the kitchen in 		   our Lower Room. Great food delivered, or here. For $3 you can't do any better. Glad to have them. God is good.
				</strong></p>
				</div><br><br>
					
<div class="directory">
	<section>
		<p class="left_txt">
			<strong>Sunday {{ date.month }} {{ date.date }}, {{ date.year }}<br></strong>
					{{ sermon.sundayTitle }}
					<br>
					<a href="https://www.homileticsonline.com/subscriber/btl_scripture_results.asp?bible_book={{sermon.bookOne }}"> {{ sermon.bookOne }} {{ sermon.verseOne }} </a>
					<a href="https://www.homileticsonline.com/subscriber/btl_scripture_results.asp?bible_book={{ sermon.bookTwo }}"> {{ sermon.bookTwo }} {{ sermon.verseTwo }} </a>
					<a href="https://www.homileticsonline.com/subscriber/btl_scripture_results.asp?bible_book={{ sermon.bookThree }}"> {{ sermon.bookThree }} {{ sermon.verseThree }}</a>
			<a href="https://www.homileticsonline.com/subscriber/btl_scripture_results.asp?bible_book={{ sermon.bookFour }}"> {{ sermon.bookFour }} {{ sermon.verseFour }}</a><br>
					<strong>Sermon: {{ sermon.sermon }}</strong><br>
						
					<strong>Adult Bible Class: {{ sermon.adultBibleClass }}<br>
						    Teaching: {{ sermon.bibleClassTeacher }} </strong><br>
							</p>
						</section>
							</div>
					
<div class="head">
	<header>
		<h1>Those Serving Our Congregation</h1>
	</header>
</div>
<div class="upcoming">
					<p>
					<strong>Ministers :</strong> All Of Us.<br>
					<strong>Elders This Week - {{ date.month }} {{ date.date }}, {{ date.year }}</strong> | {{ serving.eldersThis }} |<br>
					<strong>Elders Next Week - {{ date.month }} {{ date.date }}, {{ date.year }}</strong> | {{ serving.eldersNext }} |<br>
					<strong>Communion Shut-In Ministry For {{ date.month }} {{ date.year }}</strong> | {{ serving.shutInMonth }} |<br>
					<strong>Deacons This Week - {{ date.month }} {{ date.date }}, {{ date.year }}:</strong><br>
						<strong>| {{ serving.deaconThis }} |</strong><br>
					<strong>At The Door</strong> : {{ serving.doorThis }}<br> 
					<strong>In The Narthex</strong> : {{ serving.narnexThis }}<br> 
					<strong>Communion Prep/Clean-Up</strong> : {{ serving.cleanUpThis }}<br><br>
					</p>
	<p><strong>Deacons Serving Next Week:</strong><br>
	{{ serving.deaconNext }}<br>
	<strong>At The Door</strong>: {{ serving.doorNext }}<br>
	<strong>In The Narthex</strong>: {{ serving.narnexNext }}<br>
	<strong>Communion Prep/Clean-Up</strong>: {{ serving.cleanUpNext }}<br>
	</p>
						</div>
<div class="head">
	<header>
		<h1>Staff</h1>
	</header>
			</div>
					
<div class="staff">
	 <p><strong>Sandi Beatty, Board Chair<br>
				Donna McCullough, Elders Chair<br>
				Sherrie Dale, Deacons Chair<br>
				Shannon Caughron, Deacons Communion<br>
				Ron Beatty &amp; Jodi Wasson, Custodians<br><br>
				Pastor's Phone<br>
				| 816.987.0024 Home | 816.456.5437 Kent | 
				816.258.2031 Carla |<br>
				| Website Questions, Comments, Concerns?  Contact Evan Deubner at 816.288.2093 or withinmyself@gmail.com |
				<br><br>
				Web Presence<br>
				https://www.phfcc.org - Official Website<br>
				pastorkent57@gmail.com - Kent Deubner, Pastor<br>
				cdeubner72@gmail.com - Carla Deubner, Pastor<br>
				phfccdisciples@outlook.com - Office Mail<br>
				fccoffice.pastors@phfcc.org - Office Calendar<br>
				816.542.0323 - Google Voice (Prayer Concern)<br>
				816.540.3533 - Office<br>
				</strong></p>
					</div>
			
		
			
			
<div class="directory_img">
	<img src="{{ url_for('static', filename='img/church_sign.jpg') }}">
			</div>
<div class="honey_bear">
	<img src="{{ url_for('static', filename='img/honey_bear.png') }}">
			</div>
<div class="honey_txt">
	<p><strong>Virginia Meeks' daughter and husband, Pastor Steve &amp; Terri House are selling some very good Honey from their own hives. They use the proceeds to support the Food Pantry and other needs in the Holden, MO Area.</strong></p>
		<h1>Steve &amp; Terry <br> Holden, MO<br>
			Pure Honey <br>
			636-284-5353</h1></div>
			
{% endblock %}
